*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

input,
button {
  border: none;
  outline: none;
}

.section {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  padding: 2rem;
}
