.pomodoro-section {
  background-color: #951700;
  text-align: center;
  color: #fafafa;

  &__title {
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: 0.4rem;
  }

  &__text {
    font-size: 1.2rem;
    font-style: italic;
    letter-spacing: 0.5rem;
    margin-top: 1rem;
  }
}

.pomodoro {
  margin: 10rem 0 auto;

  &__timer {
    font-size: 10rem;
    letter-spacing: 0.8rem;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 2rem;
  }

  &__button {
    font-size: 2rem;
    padding: 1rem;
    color: #951700;
    letter-spacing: 0.4rem;
    width: 10rem;
    font-style: italic;
    border-radius: 1rem;
    background-color: #fafafa;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      background-color: transparent;
      color: #fafafa;
    }
  }
}
