.background-section {
  font-family: "Poppins", sans-serif;
  background-color: #000000;
  color: #fff;
  height: 70vh;
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.background__title {
  font-size: 3rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}
.background__color {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  transition: background-color 0.5s;
}
.background__color span {
  background-color: #000000;
  color: #fff;
  border-radius: 50%;
  padding: 2rem;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  text-transform: lowercase;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.7);
}
.background__btn {
  border: none;
  background-color: #fff;
  color: #000000;
  border-radius: 50%;
  margin-top: 4rem;
  font-size: 3.5rem;
  text-transform: uppercase;
  width: 10rem;
  height: 10rem;
  transition: all 0.3s;
}
.background__btn:hover {
  background-color: #000000;
  color: #fff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

input,
button {
  border: none;
  outline: none;
}

.section {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  padding: 2rem;
}

.calculator-section {
  background-color: rgba(0, 0, 0, 0.82);
}

.calculator {
  max-width: 40rem;
  padding: 2rem;
  margin: 5rem auto 0;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.7);
  border-radius: 1rem;
}
.calculator__input {
  width: 100%;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.7) inset;
}
.calculator__buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}
.calculator__buttons-equal {
  grid-row: span 3;
}
.calculator__button {
  padding: 1rem;
  background-color: #fff;
  font-size: 2rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}
.calculator__button:hover {
  background-color: transparent;
  box-shadow: none;
}

.password-section {
  background: rgb(39, 64, 70);
  background: linear-gradient(180deg, rgb(39, 64, 70) 0%, rgb(0, 0, 0) 100%);
  color: #fff;
}

.password {
  margin: 10rem auto 0;
  max-width: 50rem;
}
.password__title {
  font-size: 4rem;
  letter-spacing: 0.5rem;
  text-align: center;
}
.password__title span {
  border-bottom: 0.5rem solid #00f5a0;
  color: #00f5a0;
  transition: all 0.5s;
}
.password__title span:hover {
  color: #00d9f5;
  border-bottom: 0.5rem solid #00d9f5;
}
.password__box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 4rem;
}
.password__input {
  width: 100%;
  background-color: #fff;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 4rem;
  margin-right: 2rem;
  letter-spacing: 0.2rem;
}
.password__input::placeholder {
  letter-spacing: 0.6rem;
  opacity: 40%;
}
.password__icons {
  display: flex;
  gap: 2rem;
}
.password__btn {
  background-color: #fff;
}
.password__btn img {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}
.password__generate {
  margin-top: 5rem;
  padding: 2rem 4rem;
  font-size: 2rem;
  background-color: #00f5a0;
  border-radius: 4rem;
  transition: all 0.5s;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  color: #fff;
}
.password__generate:hover {
  background-color: #00d9f5;
}
.password__indicator {
  width: 100%;
  height: 0.5rem;
  background-color: #fff;
  margin-top: 1rem;
  border-radius: 4rem;
  position: relative;
}
.password__indicator::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  border-radius: inherit;
  transition: width 0.3s ease;
}
.password__indicator#weak::before {
  width: 20%;
  background-color: red;
}
.password__indicator#medium::before {
  width: 50%;
  background-color: yellow;
}
.password__indicator#strong::before {
  width: 100%;
  background-color: green;
}
.password-length {
  text-align: center;
  margin-top: 2rem;
}
.password-length__details {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}
.password-length__input {
  width: 100%;
  height: 0.5rem;
}
.password-settings {
  margin-top: 2rem;
  font-size: 1.5rem;
}
.password-settings__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  list-style-type: none;
}
.password-settings__item:first-child {
  pointer-events: none;
}
.password-settings__item:first-child input {
  opacity: 0.5;
}
.password-settings__item label {
  cursor: pointer;
  margin-left: 0.5rem;
}

.pomodoro-section {
  background-color: #951700;
  text-align: center;
  color: #fafafa;
}
.pomodoro-section__title {
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 0.4rem;
}
.pomodoro-section__text {
  font-size: 1.2rem;
  font-style: italic;
  letter-spacing: 0.5rem;
  margin-top: 1rem;
}

.pomodoro {
  margin: 10rem 0 auto;
}
.pomodoro__timer {
  font-size: 10rem;
  letter-spacing: 0.8rem;
}
.pomodoro__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: 2rem;
}
.pomodoro__button {
  font-size: 2rem;
  padding: 1rem;
  color: #951700;
  letter-spacing: 0.4rem;
  width: 10rem;
  font-style: italic;
  border-radius: 1rem;
  background-color: #fafafa;
  transition: all 0.3s;
  cursor: pointer;
}
.pomodoro__button:hover {
  background-color: transparent;
  color: #fafafa;
}

.shopping-section {
  background: rgb(96, 108, 136);
  background: linear-gradient(180deg, rgb(96, 108, 136) 0%, rgb(63, 76, 107) 100%);
  color: #fff;
}

.shopping {
  background-color: rgba(255, 255, 255, 0.5);
  max-width: 50rem;
  margin: 10rem auto 0;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.7);
}
.shopping__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 3.5rem;
  letter-spacing: 0.5rem;
  font-weight: 400;
}
.shopping__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.shopping__input, .shopping__btn {
  width: 100%;
  padding: 1rem;
  border-radius: 2rem;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  background-color: #fff;
  color: #000;
}
.shopping__btn {
  margin-top: 1rem;
  color: #3f4c6b;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: 600;
  transition: all 0.3s;
}
.shopping__btn:hover {
  background-color: transparent;
  color: #fff;
}
.shopping__list-element {
  font-size: 2rem;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}
.shopping__list-span {
  color: #3f4c6b;
  font-size: 3rem;
  cursor: pointer;
}

.tabbed-section {
  background: rgb(247, 242, 234);
  background: linear-gradient(180deg, rgb(247, 242, 234) 0%, rgb(255, 255, 255) 100%);
  color: #000000;
}

.tabbed {
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 62rem;
}
.tabbed__text {
  font-size: 1.5rem;
  font-style: italic;
  max-width: 22rem;
  text-align: center;
  margin: 0 auto;
}
.tabbed__list {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  list-style-type: none;
  background-color: #f7f2ea;
  margin-top: 2rem;
}
@media only screen and (max-width: 660px) {
  .tabbed__list {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}
.tabbed__list-item {
  padding: 2rem;
}
@media only screen and (max-width: 660px) {
  .tabbed__list-item {
    padding: 1rem;
  }
}
.tabbed__list-link {
  text-decoration: none;
  color: #000000;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}
.tabbed__content-img {
  width: 100px;
  height: 100px;
}
.tabbed-container {
  padding: 4rem 2rem;
  max-height: 18rem;
  background-color: #fff;
  border-bottom-right-radius: 8rem;
  border-bottom-left-radius: 8rem;
}
@media only screen and (max-width: 660px) {
  .tabbed-container {
    margin-top: 2rem;
    padding: 2rem;
  }
}
.tabbed__content {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  gap: 4rem;
}
@media only screen and (max-width: 660px) {
  .tabbed__content {
    align-items: center;
  }
}

.active {
  background-color: #fff;
}

.hidden {
  display: none;
}

.testimonials__title {
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
  margin: 2rem 0;
  font-weight: 300;
}
.testimonials-container {
  text-align: center;
  padding: 2rem;
}
.testimonials__card {
  line-height: 1.4;
}
.testimonials__card img {
  border-radius: 50%;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 660px) {
  .testimonials__card img {
    width: 8rem;
    height: 8rem;
  }
}
.testimonials__card h2 {
  letter-spacing: 0.2rem;
}
.testimonials__card p {
  margin: 2rem auto;
  max-width: 35rem;
}
.testimonials__card date {
  font-weight: 600;
}
.testimonials__buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}
.testimonials__buttons button {
  padding: 1rem 2rem;
  background-color: #f7f2ea;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
}

.world-section {
  font-family: "Poppins", sans-serif;
  background-color: #000000;
  color: #fff;
  height: 30vh;
}

.world {
  text-align: center;
}
.world__title {
  font-size: 4rem;
}
.world__title-name {
  color: #e9d362;
}
.world__btn {
  font-size: 2rem;
  padding: 1rem 3rem;
  border: none;
  border-radius: 3rem;
  margin-top: 2rem;
  cursor: pointer;
  letter-spacing: 0.5rem;
}

.counter-section {
  font-family: "Poppins", sans-serif;
  background-color: #000000;
  color: #fff;
  height: 30vh;
  padding: 1rem;
}

.counter {
  text-align: center;
  color: #fff;
  margin-top: 2rem;
}
.counter__value {
  font-size: 4rem;
}
.counter__box {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}
.counter__plus, .counter__minus {
  font-size: 2rem;
  border: none;
  border-radius: 3rem;
  width: 6rem;
  height: 6rem;
  text-align: center;
}

.timer-section {
  background-color: #000000;
  color: #fff;
}

.timer__inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}
.timer__inputs label {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.timer__inputs input {
  max-width: 8rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border-radius: 2rem;
}
.timer__btn {
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  background-color: #fff;
  margin-top: 2rem;
  cursor: pointer;
  transition: all 0.3s;
}
.timer__btn:hover {
  background-color: #000000;
  color: #fff;
}
.timer__box {
  font-size: 5rem;
  text-align: center;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin-top: 1rem;
}
@media only screen and (max-width: 660px) {
  .timer__box {
    font-size: 3.5rem;
  }
}

.todo-section {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  color: #333;
  background: rgb(229, 93, 135);
  background: radial-gradient(circle, rgb(229, 93, 135) 0%, rgb(95, 196, 228) 100%);
  padding: 1rem;
}

.todo {
  background-color: rgba(255, 255, 255, 0.4);
  max-width: 38rem;
  margin: 8.5rem auto 1.5rem;
  padding: 2.5rem 3rem;
  border-radius: 2rem;
}
.todo__title {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
  text-align: center;
  letter-spacing: 0.2rem;
  box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.2);
}
.todo__box {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 2rem;
  margin-bottom: 2rem;
}
.todo__input {
  background-color: transparent;
  padding: 1rem 2.5rem;
  font-size: 1.5rem;
}
.todo__btn {
  font-family: "Lato", sans-serif;
  background-color: #5fc3e4;
  padding: 1rem 2.5rem;
  border-radius: 2rem;
  color: #555;
  font-size: 1.5rem;
  transition: all 0.3s;
}
.todo__btn:hover {
  background-color: #e55d87;
  color: #fff;
}
.todo__list {
  list-style-type: none;
}
.todo__item {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
  letter-spacing: 0.1rem;
  position: relative;
}
.todo__item-checked {
  color: #555;
  text-decoration: line-through;
}
.todo__span {
  position: absolute;
  top: 8px;
  right: 21px;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  font-size: 2rem;
  border-radius: 50%;
  transition: all 0.3s;
}
.todo__span:hover {
  background-color: #e55d87;
  color: #fff;
}

.weather-section {
  background-color: rgba(0, 0, 0, 0.82);
  color: #fff;
}

.weather {
  max-width: 48rem;
  background-color: rgba(255, 255, 255, 0.07);
  margin: 10rem auto 0;
  padding: 4rem 2rem;
  border-radius: 3rem;
  text-align: center;
}
.weather__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.weather__input {
  width: 100%;
  background-color: #f0f0f0;
  color: #000;
  padding: 1rem 2.5rem;
  height: 5rem;
  border-radius: 3rem;
  margin-right: 1rem;
  font-size: 1.5rem;
}
.weather__btn {
  border-radius: 35%;
  cursor: pointer;
  background-color: #f0f0f0;
  width: 6rem;
  height: 5rem;
}
.weather__btn img {
  width: 3rem;
}
.weather__info {
  opacity: 0;
  font-size: 1.8rem;
  transition: all 1s;
}
.weather__img {
  margin-top: 3rem;
}
.weather__temp {
  font-size: 6rem;
  font-weight: 400;
}
.weather__city {
  margin-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #f0f0f0;
  letter-spacing: 0.2rem;
}
.weather__details {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
}
.weather-box {
  letter-spacing: 0.1rem;
}
.weather-box__img {
  width: 3rem;
  height: 3rem;
}